form#form-contato {
  border: 2px solid $main-lighter-2;
  border-radius: 4px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

form#form-equipe {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .form-equipe__fields {
    width: 100%;
    max-width: 438px;
  }
}

@media (max-width: 575.98px) {
  form#form-contato {
    padding: 16px;
  }
}
