#form-contato {
  border: 2px solid $main-lighter-2;
  border-radius: 4px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#form-equipe {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .form-equipe__fields {
    width: 100%;
    max-width: 438px;
  }
}

.form-steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 370px;
  .form-steps__divider {
    width: 16px;
    height: 2px;
    background: $secondary;
  }
  .form-step {
    min-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .form-step__number {
      width: 48px;
      height: 48px;
      margin-bottom: 8px;
      background: $light-1;
      color: $secondary;
      border: 1px solid $secondary;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      font-weight: 700;
      &.active {
        background: $secondary;
        color: $light-1;
      }
    }
  }
}

#form-servicos {
  .custom-form-check {
    display: flex;
    width: 229px;
    flex-direction: column;
    align-items: center;
    padding: 16px 8px;
    gap: 8px;

    position: relative;
    cursor: pointer;

    img {
      width: 64px;
    }

    input[type='radio'],
    input[type='checkbox'] {
      all: unset;
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: -2px;
      border: 2px solid rgba(50, 36, 98, 0.16);
      border-radius: 4px;
      &:checked {
        border: 5px solid #be5037;
        border-radius: 4px;
      }
      &:hover {
        border: 2px solid rgba(190, 80, 55, 0.7);
      }
    }
  }

  .servico-card {
    display: flex;
    width: 174px;
    height: 144px;
    flex-direction: column;
    align-items: center;
    padding: 18px 8px;
    gap: 8px;
    position: relative;
    cursor: pointer;

    img {
      width: 56px;
    }

    label {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
    }

    input[type='radio'] {
      all: unset;
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: -2px;
      border: 2px solid rgba(50, 36, 98, 0.16);
      border-radius: 4px;
      &:checked {
        border: 3px solid #be5037;
        border-radius: 4px;
      }
      &:hover {
        border: 2px solid rgba(190, 80, 55, 0.7);
      }
    }
  }

  #form-servicos-final {
    border: none;
    padding: 0;
  }
}

@media (max-width: 575.98px) {
  form#form-contato {
    padding: 16px;
  }

  .form-steps-container {
    overflow-x: scroll;
  }
}

@media (min-width: 576px) {
  .form-steps {
    border: 2px solid $secondary;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    padding: 16px 50px;
    align-items: center;
    .form-steps__divider {
      width: 64px;
      height: 2px;
      background: $secondary;
    }
    .form-step {
      min-width: 118px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .form-step__number {
        width: 48px;
        height: 48px;
        margin-bottom: 8px;
        background: $light-1;
        color: $secondary;
        border: 1px solid $secondary;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        font-weight: 700;
        &.active {
          background: $secondary;
          color: $light-1;
        }
      }
    }
  }

  #form-servicos #form-servicos-final {
    border: 2px solid $main;
    border-radius: 4px;
    padding: 16px 24px;
  }
}

@media (min-width: 768px) {
  #form-servicos #form-servicos {
    .custom-form-check {
      width: 277px;
      padding: 24px 32px;
      img {
        width: auto;
        height: 96px;
      }
    }

    .servico-card {
      width: 190px;
      height: 172px;
      padding: 20px 16px;

      img {
        width: 72px;
      }
    }

    .form-steps {
      .form-step {
        min-width: 120px;
      }
    }
  }

  #form-servicos #form-servicos-final {
    padding: 32px 40px;
  }
}
