.awe-grid-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 297px;
  gap: 32px;
}

.awe-grid-2 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 32px;
}

.awe-grid-3 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
  gap: 24px;
  padding: 5px;
  padding-bottom: 32px;
}

.servicos-grid-container {
  overflow-x: scroll;
}

@media (min-width: 576px) {
  .awe-grid-1 {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .awe-grid-2 {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}

@media (min-width: 768px) {
  .awe-grid-1 {
    gap: 32px;
  }
  .awe-grid-2 {
    gap: 32px;
  }
}

@media (min-width: 992px) {
  .awe-grid-1 {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  .awe-grid-2 {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
}

@media (min-width: 1200px) {
  .awe-grid-1 {
    grid-template-columns: repeat(4, 1fr);
    gap: 56px;
  }
  
  .awe-grid-3 {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-auto-flow: inherit;
    padding: 0px;
  }

  .servicos-grid-container {
    overflow-x: inherit;
  }
}

@media (min-width: 1400px) {
  .awe-grid-2 {
    grid-template-columns: repeat(4, 1fr);
    gap: 56px;
  }

  .awe-grid-3 {
    grid-template-columns: repeat(5, 1fr);
  }
}
