.breadcrumb-link {
  font-size: 16px;
  color: $main;
  font-weight: 400;
  &:hover {
    color: $main;
    border-bottom: 1px solid $secondary;
  }
}

.breadcrumb-link-light {
  font-size: 16px;
  color: $light-2;
  font-weight: 400;
  &:hover {
    color: $light-2;
    border-bottom: 1px solid $main;
  }
}