// color variables definition 
$main:                  #010326;
$main-lighter-3:        #040730;
$main-lighter-2:        #070C3A;
$main-lighter-1:        #091044;

$secondary:             #2B4689;
$secondary-lighter-2:   #4363A6;
$secondary-lighter-1:   #678BC6;
$secondary-darker-1:    #183176;

$tertiary:              #E02D3A;
$tertiary-lighter-1:    #F9515F;
$tertiary-darker-2:     #C80B18;
$tertiary-darker-1:     #AD0610;

$darker-4:              #070708;
$darker-3:              #292C2E;
$darker-2:              #4D5054;
$darker-1:              #63666A;

$light-4:               #EBECED;
$light-3:               #C5C6C7;
$light-2:               #9D9FA1;

$theme-colors: (
    'main':                 $main,
    'main-lighter-3':       $main-lighter-3,
    'main-lighter-2':       $main-lighter-2,
    'main-lighter-1':       $main-lighter-1,
    'secondary':            $secondary,
    'secondary-lighter-2':  $secondary-lighter-2,
    'secondary-lighter-1':  $secondary-lighter-1,
    'secondary-darker-1':   $secondary-darker-1,
    'tertiary':             $tertiary,
    'tertiary-lighter-1':   $tertiary-lighter-1,
    'tertiary-darker-2':    $tertiary-darker-2,
    'tertiary-darker-1':    $tertiary-darker-1,
    'darker-4':             $darker-4,
    'darker-3':             $darker-3,
    'darker-2':             $darker-2,
    'darker-1':             $darker-1,
    'light-4':              $light-4,
    'light-3':              $light-3,
    'light-2':              $light-2,
    'transparent':        #fff0,
) !default;

// spacers variable definition
$spacer: 1rem;
$awe-spacers: (
    'awe-6':    $spacer * 0.375,
    'awe-12':   $spacer * 0.75,
    'awe-32':   $spacer * 2,
    'awe-40':   $spacer * 2.5,
    'awe-56':   $spacer * 3.5,
    'awe-64':   $spacer * 4,
    'awe-80':   $spacer * 5,
    'awe-96':   $spacer * 6,
    'awe-108':  $spacer * 8,
    'awe-324':  $spacer * 24,
) !default;
$enable-negative-margins: true;

// font features variables definition
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-sizes: (
    14: 14px, 
    16: 16px, 
    24: 24px, 
    32: 32px, 
    40: 40px, 
    48: 48px
);
$font-families: (open-sans: 'Open Sans');

$font-weight-thin:          100;
$font-weight-extra-light:   200;
$font-weight-light:         300;
$font-weight-regular:       400;
$font-weight-medium:        500;
$font-weight-semi-bold:     600;
$font-weight-bold:          700;
$font-weight-extra-bold:    800;
$font-weight-black:         900;

// Navbar 
$navbar-dark-color:                 #E0E7ED;
$navbar-dark-hover-color:           #E0E7ED;
$navbar-toggler-padding-y:          .25rem;
$navbar-toggler-padding-x:          .25rem;
$navbar-toggler-focus-width:        none;
$navbar-toggler-transition:         none;
$navbar-nav-link-padding-x:         20px;