// color variables definition 
$main:                  #180E38;
$main-lighter-2:        #25194D;
$main-lighter-1:        #322462;
$main-darker-1:         #0F0826;

$secondary:             #BE5037;
$secondary-lighter-1:   #CD6851;
$secondary-darker-1:    #9A3018;

$darker-3:              #C3C5D9;
$darker-2:              #63666A;
$darker-1:              #1F1C27;

$light-4:               #E0E7ED;
$light-3:               #FAF9FF;
$light-2:               #F9FAFC;
$light-1:               #FFFFFF;

$theme-colors: (
    'main':                 $main,
    'main-lighter-2':       $main-lighter-2,
    'main-lighter-1':       $main-lighter-1,
    'main-darker-1':        $main-darker-1,
    'secondary':            $secondary,
    'secondary-lighter-1':  $secondary-lighter-1,
    'secondary-darker-1':   $secondary-darker-1,
    'darker-3':             $darker-3,
    'darker-2':             $darker-2,
    'darker-1':             $darker-1,
    'light-4':              $light-4,
    'light-3':              $light-3,
    'light-2':              $light-2,
    'light-1':              $light-1,
    'transparent':        #fff0,
) !default;

// spacers variable definition
$spacer: 1rem;
$awe-spacers: (
    'awe-6':    $spacer * 0.375,
    'awe-12':   $spacer * 0.75,
    'awe-32':   $spacer * 2,
    'awe-40':   $spacer * 2.5,
    'awe-56':   $spacer * 3.5,
    'awe-64':   $spacer * 4,
    'awe-80':   $spacer * 5,
    'awe-96':   $spacer * 6,
    'awe-108':  $spacer * 8,
    'awe-324':  $spacer * 24,
) !default;
$enable-negative-margins: true;

// font features variables definition
$font-family-sans-serif: 'Lato', sans-serif;
$font-sizes: (
    14: 14px, 
    16: 16px, 
    24: 24px, 
    32: 32px, 
    40: 40px, 
    48: 48px
);
$font-families: (lato: 'Lato');

$font-weight-thin:          100;
$font-weight-extra-light:   200;
$font-weight-light:         300;
$font-weight-regular:       400;
$font-weight-medium:        500;
$font-weight-semi-bold:     600;
$font-weight-bold:          700;
$font-weight-extra-bold:    800;
$font-weight-black:         900;

// Navbar 
$navbar-padding-y:                  0;
$navbar-dark-color:                 #E0E7ED;
$navbar-dark-hover-color:           #E0E7ED;
$navbar-toggler-padding-y:          .25rem;
$navbar-toggler-padding-x:          .25rem;
$navbar-toggler-focus-width:        none;
$navbar-toggler-transition:         none;
$navbar-nav-link-padding-x:         20px;